:root {
    --main-bg-color: #1f2933;
    --main-bg-lighter-color: #323f4b;
    --secondary-bg-color: #3e4c59;
}

.App {
    text-align: center;
    color: #ffff;
}
body {
    background-color: var(--main-bg-color);
}
